body{
    margin: 0;
    padding: 20px;
    align-items: center;
    background-image: "background.jpg";
}
header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: brown;
    font-weight: bold;
    background-color: bisque;
    padding: 5px 0px 5px 0px;
    border:1px solid brown;
}
input{
    width: 80%;
    padding: 5px 10px 5px 10px;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(199, 126, 36);
    margin: 0px 100px 20px 100px;
}
button{
    background-color: rgb(91, 52, 3);
    color: bisque;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    border:none;
    padding: 5px 20px 5px 20px;
    margin: 0px 0px 20px 110px;
    transition: 0.3s;
}
ul{
    margin-left: 90px;
}
.closebtn{
    background-color: rgb(244, 19, 19);
    color: bisque;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    border:none;
    padding: 5px 20px 5px 20px;
    margin: 0px 0px 20px 110px;
    transition: 0.3s;
}
