body{
    margin: 0;
    min-width: 250px;
    padding: 20px;
    align-items: center;
    background-image: "background.jpg";
    overflow-x: hidden;
}
header{
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: brown;
    font-weight: bold;
    background-color: bisque;
    padding: 5px 0px 5px 0px;
    border:1px solid brown;
}
input{
    width: 80%;
    padding: 5px 10px 5px 10px;
    border: none;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(199, 126, 36);
    margin: 0px 100px 20px 100px;
}
button{
    background-color: rgb(91, 52, 3);
    color: bisque;
    font-weight: bold;
    font-size: 15px;
    border-radius: 6px;
    border:none;
    padding: 5px 20px 5px 20px;
    margin: 0px 0px 20px 110px;
    transition: 0.3s;
}
div{
    padding-left: 4px;
}
ul{
    margin-left: 80px;
    margin-right: 200px;
}
ul li{
    position: relative;
    margin-bottom: 4px;
    padding: 8px 8px 12px 6px;
    background-color: rgb(241, 241, 220);
    font-size: 18px;
    transition: 0.2s;
    list-style: none;

}

.close{
    position: absolute;
    margin-top: 5px;
    margin-right: 4px;
    right: 0;
    top: 0px;
}
.close:hover{
    background-color: red;
}

@media only screen and (max-width: 600px)
{
    header{
        width: 100%;
    }
    input{
        margin-left: 40px;
    }
    button{
        margin-left: 40px;
    }
    ul{
        justify-content: left;
        margin-left: 0px;
        margin-right: 5px;
    }
}